<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] [%t] %logger{36} %MDC %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <AsyncLogger name="ftg" level="trace" />
        <AsyncLogger name="org.neo4j.ogm" level="INFO" />

    </Loggers>
</Configuration>
